article {
  padding: 2rem;

  @media (max-width: 768px) {
    padding: 0 2rem;
  }
}

.post-meta {
  font-size: 0.85rem;
  margin-bottom: 0.5rem;

  a {
    color: inherit;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 0.25rem;
  }
}

h1.post-header-title {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  line-height: 1.3;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.blog-body {
  pre,
  code {
    font-family: ui-monospace, "SFMono-Regular", Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
  }

  :not(pre) code {
    background: #f4f4f4;
    padding: 0.15rem 0.4rem;
    border-radius: 0.25rem;
    font-weight: 600;
    font-size: 0.8em;
  }

  pre {
    padding: 2rem;
    background: #212936;
    border-radius: 0.5rem;
    margin: 1.5rem 0;
    font-size: 0.85rem;
    overflow: auto;
  }

  h2 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }

  h3 {
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 1rem;
    line-height: 1.75;
  }

  a {
    color: black;
    border-bottom: 1px solid currentColor;
    text-decoration: none;
  }

  img {
    max-width: 100%;
    margin: 1rem 0;
  }

  hr {
    border: 0;
    border-top: 1px solid $gray-100;
    margin-top: 3em;
    margin-bottom: 3em;
  }

  ul,
  ol {
    margin-bottom: 2rem;
    padding-left: 1.2rem;

    li {
      line-height: 1.75;
      margin-bottom: 0.75rem;
    }
  }
}

.blog-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  font-size: 0.85rem;
  a {
    border: 1px solid $gray-100;
    border-radius: 1rem;
    padding: 0.25rem 1rem;
    text-decoration: none;
    color: $gray-900;
  }
  span {
    padding: 0.25rem 0;
    font-weight: bold;
  }
}

.fountain-body {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";

  font-size: 15px;
  line-height: 1.6;
  letter-spacing: -0.2px;
  font-weight: normal;

  @media (max-width: 640px) {
    font-size: 14px;
  }

  h2,
  h3,
  h4,
  p {
    font-weight: normal;
    font-size: inherit;
    margin: 0;
  }

  h3 {
    padding-top: 16px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 20px;
    @media (max-width: 510px) {
      margin-top: 0;
    }
  }

  p {
    margin-bottom: 32px;
    @media (max-width: 510px) {
      margin-bottom: 16px;
    }
  }

  h2 {
    text-align: right;
    margin: 32px 0;
  }

  hr {
    border: 0;
  }

  .dialogue {
    margin: 0 110px;
    @media (max-width: 510px) {
      margin: 0 48px;
    }

    h4 {
      margin: 0 110px 4px;
      @media (max-width: 510px) {
        margin: 0 48px;
      }
    }
  }

  &.fountain-body-inline {
    background: #ebe9ea;
    margin: 48px -24px;
    padding: 20px 24px;

    & > *:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
