article {
  padding: 2rem;

  @media (max-width: 768px) {
    padding: 0 2rem;
  }
}

.post-meta {
  font-size: 0.85rem;
  margin-bottom: 0.5rem;

  a {
    color: inherit;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 0.25rem;
  }
}

h1.post-header-title {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  line-height: 1.3;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.blog-body {
  pre,
  code {
    font-family: ui-monospace, "SFMono-Regular", Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
  }

  :not(pre) code {
    background: #f4f4f4;
    padding: 0.15rem 0.4rem;
    border-radius: 0.25rem;
    font-weight: 600;
    font-size: 0.8em;
  }

  pre {
    padding: 2rem;
    background: #212936;
    border-radius: 0.5rem;
    margin: 1.5rem 0;
    font-size: 0.85rem;
    overflow: auto;
    @media (max-width: 768px) {
      font-size: 0.75rem;
      padding: 1.25rem;
    }
  }

  h2 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }

  h3 {
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
    color: $gray-500;
    font-weight: 600;
  }

  p {
    margin-bottom: 1rem;
    line-height: 1.75;
  }

  a {
    color: black;
    border-bottom: 1px solid currentColor;
    text-decoration: none;
  }

  img {
    max-width: 100%;
    margin: 1rem 0;
  }

  hr {
    border: 0;
    border-top: 1px solid $gray-100;
    margin-top: 3em;
    margin-bottom: 3em;
  }

  blockquote {
    margin: 2rem 0;
    padding-left: 1.25rem;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0.2rem;
      border-radius: 0.1rem;
      background: $gray-100;
    }
  }

  ul,
  ol {
    margin-bottom: 2rem;
    padding-left: 1.2rem;

    li {
      line-height: 1.75;
      margin-bottom: 0.75rem;
    }
  }
}

.blog-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  font-size: 0.85rem;
  a {
    border: 1px solid $gray-100;
    border-radius: 1rem;
    padding: 0.25rem 1rem;
    text-decoration: none;
    color: $gray-900;
  }
  span {
    padding: 0.25rem 0;
    font-weight: bold;
  }
}

