article {
  padding: 2rem;

  @media (max-width: 768px) {
    padding: 0 1.5rem;
  }
}

.post-meta {
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #374151;

  @media (prefers-color-scheme: dark) {
    color: $dark-gray-500;
  }

  @media (max-width: 768px) {
    gap: 0.5rem;
    font-size: 0.9rem;
    padding-top: 0;
  }

  a {
    color: inherit;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f3f4f6;
    display: inline-block;
    padding: 0.3rem 0.9rem;
    border-radius: 1rem;

    @media (prefers-color-scheme: dark) {
      background-color: $dark-bg-secondary;
      color: $dark-gray-500;
    }
  }
}

h1.post-header-title {
  font-size: 4.5rem;
  font-weight: normal;
  margin-bottom: 3rem;
  line-height: 1.3;

  text-align: center;
  padding: 0 1.5rem;

  text-wrap: pretty;

  @media (max-width: 768px) {
    font-size: 2.7rem;
  }
  @media (min-width: 62rem) {
    margin-left: -4rem;
    margin-right: -4rem;
  }
  @media (min-width: 72rem) {
    margin-left: -8rem;
    margin-right: -8rem;
  }
}

.blog-listing-heading {
  text-align: center;
  margin-bottom: 2rem;
}

.blog-body {
  pre,
  code {
    font-family: ui-monospace, "SFMono-Regular", Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
  }

  :not(pre) code {
    background: #f4f4f4;
    padding: 0.15rem 0.4rem;
    border-radius: 0.25rem;
    font-weight: 600;
    font-size: 0.8em;

    @media (prefers-color-scheme: dark) {
      background: $dark-bg-secondary;
      color: $dark-gray-900;
    }
  }

  pre {
    padding: 2rem;
    background: #212936;
    border-radius: 0.5rem;
    margin: 1.5rem 0;
    font-size: 0.85rem;
    overflow: auto;
    @media (max-width: 768px) {
      font-size: 0.75rem;
      padding: 1.25rem;
    }

    @media (prefers-color-scheme: dark) {
      background: $dark-bg-secondary !important;
      color: $dark-gray-900 !important;
    }
  }

  h2 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-weight: normal;
    @media (min-width: 769px) {
      font-size: 2.5rem;
      margin-top: 3.5rem;
    }
    font-size: 1.5rem;
  }

  h3 {
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
    color: $gray-500;
    font-weight: normal;
    font-size: 1.5rem;

    @media (min-width: 769px) {
      font-size: 2rem;
    }

    @media (prefers-color-scheme: dark) {
      color: $dark-gray-900;
    }
  }

  p {
    margin-bottom: 1rem;
    line-height: 1.75;
  }

  a {
    color: black;
    border-bottom: 1px solid currentColor;
    text-decoration: none;

    @media (prefers-color-scheme: dark) {
      color: $dark-gray-900;
    }
  }

  img {
    max-width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
  }

  hr {
    border: 0;
    border-top: 1px solid $gray-100;
    margin-top: 3em;
    margin-bottom: 3em;

    @media (prefers-color-scheme: dark) {
      border-top-color: $dark-gray-100;
    }
  }

  blockquote {
    margin: 2rem 0;
    padding-left: 1.25rem;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0.2rem;
      border-radius: 0.1rem;
      background: $gray-100;

      @media (prefers-color-scheme: dark) {
        background: $dark-gray-100;
      }
    }
  }

  ul,
  ol {
    margin-bottom: 2rem;
    padding-left: 1.2rem;

    li {
      line-height: 1.75;
      margin-bottom: 0.75rem;
    }
  }
}

.blog-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  max-width: 30rem;
  margin: 1.5rem auto;
  margin-bottom: 4.5rem;
  font-size: 0.9rem;

  a {
    color: inherit;
    text-decoration: none;
    border: 1px solid $gray-100;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    border-radius: 1.5rem;
    &:hover {
      background-color: $gray-100;
    }

    @media (prefers-color-scheme: dark) {
      border: 1px solid $dark-gray-100;

      &:hover {
        background-color: $dark-gray-100;
      }
    }
  }

  @media (max-width: 768px) {
    font-size: 0.75rem;
    max-width: 100%;
    margin-bottom: 4rem;
    margin-top: 1rem;
    gap: 0.5rem;

    a {
      padding: 0.4rem 1rem;
    }
  }
}
