$gray-100: #e5e7eb;
$gray-500: #6c727f;
$gray-700: #374151;
$gray-900: #111827;

$dark-gray-100: #333;
$dark-gray-500: #6a6a6a;
$dark-gray-700: #d4d4d4;
$dark-gray-900: #f9fafb;
$dark-bg: #1a1a1a;
$dark-bg-secondary: #2a2a2a;