.homepage {
  padding: 0 1.5rem;
  @media (min-width: 769px) {
    padding: 2rem;
  }

  & > div:last-child {
    flex: 1;
  }

  p {
    margin-top: 1rem;
    line-height: 1.7rem;

    a {
      color: $gray-900;
      text-decoration: none;

      @media (prefers-color-scheme: dark) {
        color: $dark-gray-900;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.homepage-section {
  padding: 2rem;
  margin-top: 2rem;

  h2 {
    font-size: 2rem;
    font-weight: normal;
  }
}

.post-link {
  text-decoration: none;
  color: inherit;
  display: block;
  margin-top: 2rem;

  .post-title {
    border-bottom: 1px solid currentColor;
    padding-bottom: 0.075rem;
    font-family: "site-heading", "site-body", ui-sans-serif, system-ui,
      sans-serif;
    font-size: 1.3rem;
  }
  .post-excerpt {
    margin-top: 0.4rem;
    font-size: 0.95rem;
    display: block;
    opacity: 0.9;
  }
}

.view-more {
  text-decoration: none;
  color: $gray-500;
  margin-top: 2rem;
  display: inline-block;

  @media (prefers-color-scheme: dark) {
    color: $dark-gray-500;
  }
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
