* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $gray-900;
    font-size: 0.875rem;

    @media (prefers-color-scheme: dark) {
        color: $dark-gray-900;
    }

    @media(max-width: 768px) {
        padding: 1rem;
    }

    a {
        text-decoration: none;
        color: inherit;
      }

    .logo {
        font-size: inherit;
        font-weight: bold;
        color: $gray-900;
        display: flex;
        align-items: center;
        gap: 0.75rem;

        @media (prefers-color-scheme: dark) {
            color: $dark-gray-900;
        }

        &:before {
            content: "";
            width: 1rem;
            height: 1rem;
            background-color: $gray-900;
            border-radius: 0.15rem;
            margin-top: -1px;

            @media (prefers-color-scheme: dark) {
                background-color: $dark-gray-900;
            }
        }
    }
    nav {
        ul {
            display: flex;
            list-style: none;
            gap: 1.5rem;
        }
    }
}

main {
    max-width: 46rem;
    margin: 4rem auto;
}

footer {
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    a {
        color: $gray-900;
        text-decoration: none;

        @media (prefers-color-scheme: dark) {
            color: $dark-gray-900;
        }
    }
    svg {
        width: 1.5rem;
        height: 1.5rem;
    }
}