@font-face {
  font-family: "site-body";
  src: url("/fonts/regular.eot");
  src: url("/fonts/regular.woff") format("woff"),
    url("/fonts/regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "site-body";
  src: url("/fonts/semibold.eot");
  src: url("/fonts/semibold.woff") format("woff"),
    url("/fonts/semibold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "site-heading";
  src: url("/fonts/heading.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

html {
  -webkit-text-size-adjust: none;
  touch-action: manipulation;
  background-color: #ffffff;
  font-family: "site-body", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: $gray-900;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;

  @media (prefers-color-scheme: dark) {
    background-color: $dark-bg;
    color: $dark-gray-900;
  }
}

h1,
h2,
h3 {
  font-family: "site-heading", "site-body", ui-sans-serif, system-ui, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
  @media (min-width: 769px) {
    font-size: 3.5rem;
  }
}

.sr-only {
  display: none;
}
