.markdown {
  &__editor {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50vw;
    background: #edeff1;

    textarea {
      background: transparent;
      padding: 48px;
      width: calc(50vw - 96px);
      height: calc(100vh - 206px);
      margin-bottom: 24px;

      line-height: 1.8;
      font-size: 13.5px;

      font-family: "Source Code Pro", "Source Code Pro for Powerline", "yyx", "Graphik", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    button {
      appearance: none;
      border: 0;
      background: #355fc5;
      border-radius: 4px;
      padding: 12px 24px;
      color: #fff;
      font-size: 15px;
      margin-left: 48px;
      font-weight: bold;
    }
  }

  &__preview {
    position: fixed;
    left: 50vw;
    right: 0;
    top: 0;
    bottom: 0;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
