{% extends "base.html" %}

{% block content %}
    <section>
        <h1>Let's talk.</h1>
        <p>
        Let's have a 30 minute call via Zoom or a coffee break some place in the
        beautiful Hoxton area (London, UK).
        </p>

        <div style="min-width: 300px; height: 1000px; border-radius: 8px; border: none; background: #fff; overflow: hidden;">
        <iframe
            title="Schedule a call or coffee meeting."
            src="https://calendly.com/tschof/30min?embed_domain=localhost%3A8000&amp;embed_type=Inline&amp;hide_event_type_details=1&amp;background_color=fff&amp;primary_color=355fc5"
            width="100%"
            height="100%"
            style="border-radius: 8px"
            frameborder="0"
            border="0"
        />
        </div>
    </section>
{% endblock content %}