.hero {
  background-color: #c1cae8;

  @media (min-width: 720px) {
    background: #c1cae8 url('../pages/thumbnails-cloud/hero.svg') no-repeat 100% 100%;
    background-size: contain;
    padding-bottom: 24px;
  }

  main h1 {
    font-size: 20px;
    color: $link-hover-light;
  }

  h2 {
    margin-top: 0;
    font-size: 40px;
  }

  button {
    outline: 0;
    border: 2px solid $foreground-light;
    background: transparent;
    color: $foreground-light;
    display: inline-block;
    padding: 3px 14px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 26px;
    margin-top: 64px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease all;
    &:hover {
      background: #000;
      color: #c1cae8;
    }
  }
}
