.fountain-body {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";

  font-size: 15px;
  line-height: 1.6;
  letter-spacing: -0.2px;
  font-weight: normal;

  @media (max-width: 640px) {
    font-size: 14px;
  }

  h2,
  h3,
  h4,
  p {
    font-weight: normal;
    font-size: inherit;
    margin: 0;
  }

  h3 {
    padding-top: 16px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 20px;
    @media (max-width: 510px) {
      margin-top: 0;
    }
  }

  p {
    margin-bottom: 32px;
    @media (max-width: 510px) {
      margin-bottom: 16px;
    }
  }

  h2 {
    text-align: right;
    margin: 32px 0;
  }

  hr {
    border: 0;
  }

  .dialogue {
    margin: 0 110px;
    @media (max-width: 510px) {
      margin: 0 48px;
    }

    h4 {
      margin: 0 110px 4px;
      @media (max-width: 510px) {
        margin: 0 48px;
      }
    }
  }

  &.fountain-body-inline {
    background: #ebe9ea;
    margin: 48px -24px;
    padding: 20px 24px;

    & > *:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
