$code-font-color: #b3b9c5;
$code-background-color: #353535;
$code-string: #92d192;
$code-variable: #f2777a;
$code-property: #abb2bf;
$code-number: #fca369;
$code-operator: #ac8d58;
$code-punctuation: #d5d8df;
$code-comment: #848991;
$code-function: #62cfcf;
$code-keyword: #ffd479;
$code-attribute: #ffd479;
$code-class: #e1a6f2;
$code-tag: #6ab0f3;
$code-error: #f2777a;

.prose :where(pre):not(:where([class~="not-prose"] *)) {
  padding: 2rem;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.important {
  color: $code-comment;
}

.token.punctuation {
  color: $code-punctuation;
}

.token.namespace {
  opacity: 0.7;
}

.token.property {
  color: $code-property;
}

.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: $code-tag;
}

.token.number {
  color: $code-number;
}

.token.char,
.token.builtin,
.token.url,
.token.inserted {
  color: $code-font-color;
}

.token.attr-name,
.token.selector {
  color: $code-attribute;
}

.token.attr-value,
.token.string {
  color: $code-string;
}

.token.operator {
  color: $code-operator;
}

.token.atrule,
.token.keyword {
  color: $code-keyword;
}

.token.function {
  color: $code-function;
}

.language-css,
.token.boolean,
.token.class-name {
  color: $code-class !important;
}

.token.regex {
  color: $code-keyword;
}

.token.variable {
  color: $code-variable;
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
