:root {
  --background: #f4f4f5;
  --text: #212733;
  --link: #355fc5;
}

main {
  padding: 3rem;
  margin: 0 auto;
  position: relative;
  max-width: 42rem;

  @media (max-width: 600px) {
    padding: 2rem;
  }
}

@import "typography";
@import "navigation";
@import "home";
@import "blog";
@import "table";
@import "code";
@import "calendly";

@media (max-width: 440px) {
  .hide-phone {
    display: none;
  }
}
