@tailwind base;
@tailwind components;
@tailwind utilities;

@import "typography";
@import "blog";
@import "code";

.avatar {
  margin-right: 4rem;
  flex-basis: 33%;
  min-width: 24%;
  min-height: 14rem;
  background: transparent url("./assets/avatar.svg") no-repeat top;
  background-size: contain;

  @media (max-width: 42rem) {
    width: 50%;
    max-width: 12rem;
    min-height: 10rem;
    padding-top: 0;
    margin: 0 auto 2.5rem;
  }
}
