$background-light: #faf8f9;
$foreground-light: #212733;
$link-hover-light: #355fc5;

$code-font-color: #b3b9c5;
$code-background-color: #353535;
$code-string: #92d192;
$code-variable: #f2777a;
$code-property: #abb2bf;
$code-number: #fca369;
$code-operator: #ac8d58;
$code-punctuation: #d5d8df;
$code-comment: #848991;
$code-function: #62cfcf;
$code-keyword: #ffd479;
$code-attribute: #ffd479;
$code-class: #e1a6f2;
$code-tag: #6ab0f3;
$code-error: #f2777a;

@font-face {
  font-family: 'yyx';
  src: url('./fonts/regular.eot');
  src: url('./fonts/regular.woff') format('woff'), url('./fonts/regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'yyx';
  src: url('./fonts/semibold.eot');
  src: url('./fonts/semibold.woff') format('woff'), url('./fonts/semibold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'yyx-mono';
  src: url('./fonts/mono-regular.woff') format('woff'), url('./fonts/mono-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'yyx-mono';
  src: url('./fonts/mono-italic.woff') format('woff'), url('./fonts/mono-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'yyx-mono';
  src: url('./fonts/mono-bold.woff') format('woff'), url('./fonts/mono-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html, body, p, h3 {
  margin: 0;
  padding: 0;
  line-height: 1.8;
  font-size: 18px;
  color: $foreground-light;

  @media (max-width: 640px) {
    font-size: 16px;
  }
}

html {
  -webkit-text-size-adjust: none;
  touch-action: manipulation;

  background-color: #ffffff;
}

html, body, input, textarea, select, button {
  font-family: "yyx", "Graphik",
  -apple-system, BlinkMacSystemFont,
  "Segoe UI", Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: inherit;
  text-decoration: none !important;
}

p {
  margin-top: 24px;
}

main ::selection {
  background-color: $link-hover-light;
  color: $background-light;
}

h1, h2 {
  font-size: 48px;
  line-height: 1.3;
  padding-right: 20px;
  margin-bottom: 0;

  @media (max-width: 640px) {
    font-size: 32px;
    margin-bottom: -20px;
    padding-right: 0;
  }
}

h3 {
  font-size: 32px;
  line-height: 1.3;
  margin-bottom: 0;

  @media (max-width: 640px) {
    font-size: 28px;
  }
}

h4 {
  font-size: 24px;
  margin-bottom: -10px;
  margin-top: 48px;
}

.homepage-links h3,
.posts h3 {
  user-select: none;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  opacity: 0.4;
  margin-bottom: 12px;

  @media (max-width: 640px) {
    margin-bottom: 4px;
  }

  a {
    margin: 0;
    padding: 0;
    line-height: 1;
  }
}

header {
  padding: 24px;
  user-select: none;

  .logo {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 24px;
    left: 24px;
    height: 28px;
    line-height: 28px;
    z-index: 100;

    a {
      height: 28px;
      color: $foreground-light;
      outline: 0;
      transition: color 0.3s linear;

      &:hover {
        color: $link-hover-light;
      }
    }

    @media (max-width: 640px) {
      position: absolute;
    }
  }
}

main {
  padding: 32px 32px 64px;
  margin: 0 auto;
  position: relative;
  max-width: 42rem;

  &.homepage {
    max-width: 42rem;
    display: flex;

    @media (max-width: 640px) {
      display: block;
      padding-top: 56px;
    }
  }

  &.homepage-links {
    @media(max-width: 640px) {
      padding-top: 0;
    }
  }

  @media (max-width: 640px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media (max-width: 320px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.hero {
  background-color: #f4f4f5;
  padding: 96px 0;

  main {
    padding-top: 0;
    padding-bottom: 0;
  }

  h2 {
    margin-top: 0;
  }

  @media(max-width: 640px) {
    padding: 48px 0 36px;

    .avatar {
      margin-bottom: 32px;
    }
  }
}

.avatar {
  margin-right: 96px;
  flex-basis: 30%;
  min-width: 24%;
  min-height: 200px;
  background: transparent url("./assets/avatar.svg") no-repeat top;
  background-size: contain;

  @media (max-width: 1000px) {
    margin-right: 64px;
    margin-left: 24px;
  }

  @media (max-width: 640px) {
    width: 50%;
    max-width: 190px;
    padding-top: 0;
    margin: 0 auto 40px;
  }
}

.links {
  margin-top: 64px;

  a {
    display: block;
    outline: 0;
    padding: 12px 0;
    font-weight: 600;
    transition: color 0.3s linear;

    .link-date {
      background-color: #f4f4f5;
      margin-left: 8px;
      color: #bbb;
      font-size: 10px;
      top: -2px;
      border-radius: .3rem;
      position: relative;
      text-transform: uppercase;
      padding: 4px 5px 3px;
      transition: color 0.3s linear, background-color 0.3s linear;
      user-select: none;
    }

    .link-description {
      font-weight: 400;
      font-size: 16px;
      display: block;
      line-height: 25px;
      padding-top: 1px;
      opacity: 0.8;
    }

    &:hover, &.active {
      color: $link-hover-light;

      .link-date {
        background-color: rgba(53, 95, 197, 0.25);
        color: $link-hover-light;
      }
    }
  }

  .sr {
    display: none;
  }

  @media (max-width: 640px) {
    margin-top: 44px;
  }
}

.pgp {
  font-size: 15px;
}

.button {
  outline: 0;
  border: 1px solid $background-light;
  border-radius: .3rem;
  background: $foreground-light;
  color: $background-light !important;
  display: inline-block;
  padding: 4px 20px;
  margin: 24px 0;
  font-weight: 600;
}

.link {
  font-weight: 600;
  transition: background-color 0.3s linear;
  color: $link-hover-light;
  padding: 5px 7px;
  margin: -5px -7px;

  &:hover {
    background-color: rgba(53, 95, 197, 0.25);
  }
}

@import "blog";
@import "table";
@import "code";
@import "calendly";

@media (max-width: 440px) {
  .hide-phone {
    display: none;
  }
}
